

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" data-table="{{table}}" data-key="{{key}}">{{table}}</div>

    <!-- Table -->

    <table class="table">
        <thead>
            <tr id="table-attr">
                {{#each  fields}}
                    <th data="{{name}}">{{name}}</th>
                {{/each}}
                <th class="text-center data-controls">Edit</th>
                <th class="text-center data-controls">Delete</th>
            </tr>
        </thead>
        <tbody>
        {{#each rows}}
            <tr>
                {{# each this }}
                    <td class="db-content" data="{{this}}">
                        {{this}}
                    </td>
                {{/each}}
                <td  class="text-center data-controls right"><i id="edit" class="fa fa-pencil" aria-hidden="true"></i></td>
                <td  class="text-center data-controls right"><i id="delete" class="fa fa-trash-o" aria-hidden="true"></i></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
